<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    <title>vue.js</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-success"></nav>
    <nav class="navbar navbar-dark bg-success"></nav>
    <nav class="navbar navbar-dark bg-success"></nav>
      <div class="row row-cols-2" id="container">
        <div class="col" >
          <img v-bind:src="image" alt="">
        </div>
        <div class="col" >
          <h1>{{ title }}</h1>
          <p v-if="stock > 3">In Stock</p>

          <p v-else>Out of Stock</p>
          <ul>
            <li v-for="details in detail">{{details}}</li>
          </ul>
        <div>Color:</div>
        <div v-for="(varient,index) in varients"
          :key="varient.color_id"
          class="color-box "
          :style="{backgroundColor:varient.color}"
          @mouseover="colorVarient(index)">
        </div>
        <br>
        <button type="button" name="button" v-on:click="addtoCart" :disabled="stock<4">Add to Cart</button>
        <p class="cart-box">Cart ({{cart}})</p>
      </div>
    </div>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="test.js"></script>
  </body>
</html>
